.primary-nav {

  ul {
    margin: 0;
    padding: 0;
    @mixin clearfix;
  }

  li {
    list-style: none;
    margin-right: 20px;
    float: left;
  }

  a {
    color: #FFF;
    text-decoration: none;
    font-weight: 300;
    display: block;
    padding: 12px 0;
  }

  &--pull-right {
    float: right;
  }
}
